#work > div {
  flex: auto;
  min-width: auto;
}

@media only screen and (min-width: 480px) {
  #work > div {
    flex: 0.5;
    min-width: 400px;
  }
}

@media only screen and (min-width: 961px) {
  #work > div {
    flex: 1;
    min-width: 288.325px;
  }
}
